@using System.Globalization
@using TrueSnow.Data.Models
@model  TrueSnow.Web.ViewModels.Comments.CommentsByPostViewModel

@foreach (var comment in Model.Comments)
{
    <div class="row">
        <span class="col-md-1">
            <img src="~/File/@comment.Creator.Files.First(x => x.FileType == FileType.Avatar).Id" alt="avatar" class="img-responsive img-circle" style="width: 50px;" />
        </span>
        <div class="col-md-6" style="margin-left: -35px;">
            <a class="a-profile" href="/Profile/@comment.Creator.Id"><b>@comment.Creator.FirstName @comment.Creator.LastName</b></a>
            <small>@comment.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</small>
            <p>@comment.Content</p>
        </div>
    </div>
    <hr />
}

<nav>
    <ul class="pagination">
        <li>
            <a href="@Model.PostUrl?page=@Model.PreviousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var className = string.Empty;
            if (Model.CurrentPage == i)
            {
                className = "active";
            }
            <li class="@className"><a href="@Model.PostUrl?page=@i">@i</a></li>
        }
        <li>
            <a href="@Model.PostUrl?page=@Model.NextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>