<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True Snow</title>
    @Styles.Render("~/Content/css", "~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <meta name="description" content="Social network for true snowboarders" />
</head>
<body>
    <img src="~/Content/Images/logo.png" alt="Logo" class="logo img-responsive img-circle" />
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("True Snow", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav navbar-nav">
                            <li><a href="~/Events">Events</a></li>
                            <li><a href="~/Articles">Articles</a></li>
                            <li><a href="~/Messages/ByUser">Messages</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav navbar-nav">
                            <li class="logo-container"></li>
                        </ul>
                    </div>
                    <div class="col-md-4" style="margin-left: 62px">
                        @if (this.User.IsInRole(TrueSnow.Web.Infrastructure.Constants.IdentityRoles.Administrator))
                        {
                            <a href="~/Administration/AdminPosts">Admin</a>
                        }
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - True Snow</p>
            <a href="https://github.com/BiserSirakov/TrueSnow" target="_blank" class="a-footer">Open Source</a>
        </footer>
    </div>

    <!-- Add Post Modal -->
    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addPostModalLabel" style="text-align: center;">Add Post</h4>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("GetCreate", "Posts", new { area = "" }); }
                </div>
            </div>
        </div>
    </div>

    <!-- Add Comment Modal -->
    <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addCommentModalLabel" style="text-align: center;">Add Comment</h4>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("GetCreate", "Comments", new { area = "" }); }
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('#followLink').click(function (e) {
                e.preventDefault();
                var href = $(this).attr('href');

                swal({
                    title: 'Followed!',
                    type: 'success',
                    allowOutsideClick: true
                }, function () {
                    setTimeout(function () {
                        window.location = href;
                    }, 200);
                });
            });

            $('#unfollowLink').click(function (e) {
                e.preventDefault();
                var href = $(this).attr('href');

                swal({
                    title: 'Are you sure?',
                    type: 'warning',
                    allowOutsideClick: true,
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, unfollow!",
                    closeOnConfirm: false
                }, function () {
                    swal({
                        title: 'Unfollowed!',
                        type: 'success',
                        allowOutsideClick: true
                    }, function () {
                        setTimeout(function () {
                            window.location = href;
                        }, 200);
                    });
                });
            });

            $('#Photo').fileinput({
                language: 'bg',
                uploadUrl: 'http://localhost:60702/Posts/Create',
                allowedFileExtensions: ['jpg', 'png', 'gif'],
            });

            $('#Avatar').fileinput({
                language: 'bg',
                uploadUrl: 'http://localhost:60702/Account/Register',
                allowedFileExtensions: ['jpg', 'png', 'gif'],
            });

            $('[data-toggle="tooltip"]').tooltip()

            $("#btnLogout").on('click', function () {
                $('#logoutForm').submit();
            });
        });
    </script>
</body>
</html>
