@model TrueSnow.Web.Models.Users.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="container panel panel-default text-center" style="width: 300px;">
    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "padding-bottom: 10px" }))
    {
        @Html.AntiForgeryToken()
        <h3 style="color: #4C90B7; margin-bottom: 20px;">Login</h3>
        <img src="~/Content/Images/default-avatar.png" class="img-responsive img-circle" style="width: 100px; margin-left: auto; margin-right: auto" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="margin: 20px;">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" style="margin: 20px;">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <hr />

        <div class="form-group text-center">
            <input type="submit" value="Login " class="btn btn-primary" />
        </div>

        <span>New? </span><a class="a-inLogin" href="/Account/Register">Register now!</a>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}