@model TrueSnow.Web.Models.Users.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", style = "padding: 0 240px" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Create a new account</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
    </div>

    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
    </div>

    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
    </div>

    <div class="form-group">
        <input class="" id="Avatar" name="upload" type="file">
    </div>

    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Register" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


