@using System.Globalization
@using TrueSnow.Data.Models
@model TrueSnow.Web.Models.Posts.PostByIdViewModel

@{
    Layout = null;
}

<div class="modal-header" style="background-color: #4C90B7; padding: 0">
    <img src="~/File/@Model.PostViewModel.Creator.Files.First(x => x.FileType == FileType.Avatar).Id" alt="photo" class="img-responsive pull-left" style="height: 80px;" />
    <h4 style="margin: 0; padding-top: 3px;"><a style="color: white; margin-left: 7px;" href="~/Profile/@Model.PostViewModel.Creator.Id">@Model.PostViewModel.Creator.FirstName @Model.PostViewModel.Creator.LastName</a></h4>
    <h4 style="margin: 0; float: right; margin-right: 20px;">
        <span style="color: white; font-size: 15px; margin-left: 141px; margin-top: 13px;"><span class="glyphicon glyphicon-comment"></span> @Model.PostViewModel.CommentsCount</span>
        <span style="color: white; font-size: 15px; margin-left: 12px; margin-top: 13px;"><span class="glyphicon glyphicon-heart"></span> <span class="likesCount-@Model.PostViewModel.Id"> @Model.PostViewModel.Likes</span></span>
        <span style="color: white; font-size: 15px; margin-left: 12px; margin-top: 13px;"><span class="glyphicon glyphicon-calendar"></span> @Model.PostViewModel.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</span>
    </h4>
    <h4 class="modal-title pull-left text-center" id="postInfoModalLabel" style="color: white; font-size: 25px; margin-left: 7px;">
        @Model.PostViewModel.Title
    </h4>
</div>

<div class="modal-body" style="padding: 0; margin-top: -1px;">
    <img src="~/File/@Model.PostViewModel.Photo.Id" alt="photo" class="img-responsive" />
    <p style="margin: 15px;">@Model.PostViewModel.Content</p>

    @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "padding: 1px 15px;" }))
    {
        @Html.AntiForgeryToken()
        <input name="PostId" type="hidden" value="@Model.PostViewModel.Id">

        <div class="row">
            <div class="col-md-2">
                @if (this.Request.IsAuthenticated)
                {
                    if (Model.PostLikedByCurrentUser)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Unlike" data-original-title="Unlike" data-id="@Model.PostViewModel.Id" data-action="unlike" class="glyphicon glyphicon-heart-empty" style="font-size: 35px; color: red;"></span>
                        <span data-toggle="tooltip" data-placement="top" title="Like" data-original-title="Like" data-id="@Model.PostViewModel.Id" data-action="like" class="glyphicon glyphicon-heart" style="font-size: 35px; display: none; color: red;"></span>
                    }
                    else
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Like" data-original-title="Like" data-id="@Model.PostViewModel.Id" data-action="like" class="glyphicon glyphicon-heart" style="font-size: 35px; color: red;"></span>
                        <span data-toggle="tooltip" data-placement="top" title="Unlike" data-original-title="Unlike" data-id="@Model.PostViewModel.Id" data-action="unlike" class="glyphicon glyphicon-heart-empty" style="font-size: 35px; display: none; color: red;"></span>
                    }
                }
            </div>
            <div class="col-md-10" style="margin-left: -28px;">
                <div class="form-group" style="float: left; width: 95%;">
                    <input class="form-control" data-val="true" data-val-required="The Content field is required." id="Content" name="Content" placeholder="Comment" type="text" value="">
                </div>
                <input type="submit" class="btn btn-primary" value="Add" style="background-color: #4C90B7; border-color: #4C90B7" />
            </div>
        </div>
    }

    @{ Html.RenderAction("ByPost", "Comments", new { id = Model.PostViewModel.Id }); }
</div>