@using System.Globalization
@using TrueSnow.Data.Models
@model TrueSnow.Web.Models.Posts.PostByIdViewModel

@{
    Layout = null;
}

<div class="modal-header" style="background-color: #4C90B7; padding: 0">
    <div class="col-md-3">
        <img src="~/File/@Model.PostViewModel.Creator.Files.First(x => x.FileType == FileType.Avatar).Id" alt="photo" class="img-responsive" style="height: 50px; margin: 10px 0" />
    </div>
    <div class="col-md-9" style="margin-top: 15px; padding-left: 70px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="postInfoModalLabel" style="color: white; font-size: 25px;">@Model.PostViewModel.Title</h4>
    </div>
</div>
<div class="modal-body" style="padding: 0; margin-top: -1px;">
    <img src="~/File/@Model.PostViewModel.Photo.Id" alt="photo" class="img-responsive" />
    <p>@Model.PostViewModel.Content</p>
    <b>@Model.PostViewModel.Creator.FirstName @Model.PostViewModel.Creator.LastName</b>
    <p>@Model.PostViewModel.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</p>
    <p id="likesCount-@Model.PostViewModel.Id">Likes: @Model.PostViewModel.Likes</p>

    @if (this.Request.IsAuthenticated)
    {
        if (Model.PostLikedByCurrentUser)
        {
            <span data-toggle="tooltip" data-placement="top" title="Unlike" data-original-title="Unlike" data-id="@Model.PostViewModel.Id" data-action="unlike" class="glyphicon glyphicon-heart-empty" style="font-size: 35px; color: red;"></span>
            <span data-toggle="tooltip" data-placement="top" title="Like" data-original-title="Like" data-id="@Model.PostViewModel.Id" data-action="like" class="glyphicon glyphicon-heart" style="font-size: 35px; display: none; color: red;"></span>
        }
        else
        {
            <span data-toggle="tooltip" data-placement="top" title="Like" data-original-title="Like" data-id="@Model.PostViewModel.Id" data-action="like" class="glyphicon glyphicon-heart" style="font-size: 35px; color: red;"></span>
            <span data-toggle="tooltip" data-placement="top" title="Unlike" data-original-title="Unlike" data-id="@Model.PostViewModel.Id" data-action="unlike" class="glyphicon glyphicon-heart-empty" style="font-size: 35px; display: none; color: red;"></span>
        }
    }

    @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "padding: 10px 50px;" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input class="form-control" data-val="true" data-val-required="The Content field is required." id="Content" name="Content" placeholder="Comment" type="text" value="">
        </div>
        <input name="PostId" type="hidden" value="@Model.PostViewModel.Id">
        <hr />

        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Add" style="background-color: #4C90B7; border-color: #4C90B7" />
        </div>
    }
    <hr />
    @{ Html.RenderAction("ByPost", "Comments", new { id = Model.PostViewModel.Id }); }
</div>