@using System.Globalization
@using TrueSnow.Data.Models
@model IEnumerable<TrueSnow.Web.Models.Posts.PostViewModel>

<div class="row" style="margin-top: 50px;">
    @foreach (var post in Model)
    {
        <div class="col-xs-12 col-md-6 col-lg-4 panel panel-primary" style="border: none;">
            <div class="panel-heading row" style="margin: 0 !important; padding: 0; overflow: hidden">
                <div class="col-xs-2 col-md-2" style="padding: 0">
                    <img src="~/File/@post.Creator.Files.First(x => x.FileType == FileType.Avatar).Id" alt="photo" class="img-responsive" style="height: 50px;" />
                </div>
                <div class="col-xs-10 col-md-10" style="padding: 0; padding-top: 5px;">
                    <h3 class="panel-title">
                        <a id="userFullName" href="~/Profile/@post.Creator.Id">@post.Creator.FirstName @post.Creator.LastName</a>
                        <span style="font-size: small">on @post.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</span>
                        <br />
                        <span>@post.Title</span>
                    </h3>
                </div>
                </div>
            <div class="panel-body" style="padding: 0;">
                <a href="@post.Url">
                    <img src="~/File/@post.Photo.Id" alt="photo" class="img-responsive" />
                </a>
            </div>
            <div class="panel-footer" style="padding: 5px 10px;">
                <p style="margin: 0">Comments: @post.CommentsCount</p>
            </div>
        </div>
    }
</div>