@model TrueSnow.Web.Models.Posts.PostViewModel

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Content, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Photo", new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            <input type="file" id="Photo" name="upload" />
        </div>
    </div>

    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Add" />
    </div>
}