@using TrueSnow.Data.Models
@using Microsoft.AspNet.Identity;
@model TrueSnow.Web.Models.Users.ProfileViewModel

<div class="jumbotron">
    @if (Model.Files.Any(x => x.FileType == FileType.Cover))
    {
        <img src="~File/@Model.Files.First(x => x.FileType == FileType.Cover).Id" alt="cover" class="img-responsive" />
    }
    else
    {
        <img src="~/Content/Images/default-cover.jpg" alt="cover" class="img-responsive" />
    }
</div>

<div class="row">
    <div class="col-xs-4 col-lg-2">
        <img src="~/File/@Model.Files.First(x => x.FileType == FileType.Avatar).Id" alt="avatar" class="avatar img-responsive img-circle" />
    </div>
    <div class="col-xs-4 col-lg-5">
        <h1 class="profile-name">@Model.FirstName @Model.LastName</h1>
    </div>
    <div class="profile-stats col-xs-4 col-lg-5">
        <h4 class="pull-left">POSTS <span class="badge">@Model.PostsCount</span></h4>
        <a href="#" data-toggle="modal" data-target="#followingModal" class="pull-left follow-btn">FOLLOWING <span class="badge">@Model.Following.Count</span></a>
        <a href="#" data-toggle="modal" data-target="#followersModal" class="pull-left follow-btn">FOLLOWERS <span class="badge">@Model.Followers.Count</span></a>
        @if (Model.Id == HttpContext.Current.User.Identity.GetUserId()) // If current user is the profile`s user
        {
            <button class="btn btn-sm btn-default edit-profile">Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
        }
        else
        {
            if (Model.Followers.Any(x => x.Id == HttpContext.Current.User.Identity.GetUserId())) // If current user follows the profile`s user
            {
                @Html.ActionLink("Unfollow", "Unfollow", "Follows", new { id = Model.Id }, new { id = "unfollowLink", @class = "btn btn-sm btn-primary", style = "margin-top: 8px; margin-left: 10px;" });
            }
            else
            {
                @Html.ActionLink("Follow", "Follow", "Follows", new { id = Model.Id }, new { id = "followLink", @class = "btn btn-sm btn-primary", style = "margin-top: 8px; margin-left: 10px;" });
            }
        }
    </div>
</div>

@{ Html.RenderAction("ByUserId", "Posts", new { userId = Model.Id }); }

<!-- Followers Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="followersModalLabel" style="text-align: center;">Followers</h4>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("Followers", "Follows"); }
            </div>
        </div>
    </div>
</div>

<!-- Following Modal -->
<div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="followingModalLabel" style="text-align: center;">Following</h4>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("Following", "Follows"); }
            </div>
        </div>
    </div>
</div>